body{
    background-color: #ffffff;
    color:#919191;
    font-family: 'Arial';
    margin: 0px;
    padding-top :0px;
    padding-left: 0px;
    padding-right: 0px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

#clock{
    text-align: right;
    border-color: #cccccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    line-height: 1.429;
    padding: 10px;
}


#gpulist{
    width: 97%;
    color: white;
    border-color: #cccccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
}

#load{
    padding: 13px;
    color: #777;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

#board{
    padding: 10px;
    vertical-align: top;
    overflow: hidden;
}

.root{
    margin: 5px;
    padding: 0px;
    width: 250px;
    color: white;
    font-weight: bold;
    float: left;
    
}
.node{
    padding: 8px;
    width: 233px;
    height: 15px;
    text-transform: uppercase;
    font-size: 11pt;
    color: #777;
    border: 1px solid;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-color: #e9e9e9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.top{
    width: 238px;
    height: 11px;
    font-size: 11pt;
    padding: 5px 8px 8px 5px;
    background-color: #435988;
}
.top.hot{
    background-color: #1d2b4b;
}
.top.cool{
    background-color: #5d75a8;
}
.bottom{
    width: 240px;
    height: 30px;
    padding: 3px 8px 10px 3px;
    background-color: #304675;
    text-align: left;
    vertical-align: middle;
    font-size: 12pt;
}
.bottom.hot{
    background-color: #13203f;
}
.bottom.cool{
    background-color: #485f92;
}
table{
    width: 100%;
    border-spacing: 5px 0px ;
    font-size: 11pt;
}
.align_right{
    text-align: right;
}