.switch{
    position: relative;
    display: inline-block;
    width: 45px;
    height: 20px;
}

.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before{
    position: absolute;
    content: '';
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider{
    background-color: #2d3e63;
}

input:focus + .slider{
    box-shadow: 0 0 1px #2d3e63;
}

input:checked + .slider:before{
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
}


.slider.round{
    border-radius: 34px;
}

.slider.round:before{
    border-radius: 50%;
}

.gpus input[type='checkbox'] {
    display: none;
}

.gpus input[type='checkbox'] + label { 
    margin: 5px 5px 5px 5px;
    padding: 3px 5px 3px 5px;
    font-size: 11pt;
    font-weight: bold;
    text-transform: uppercase;
    background: darkgrey;
    cursor: pointer;
    border-radius: 3px;
    display: inline-block;
}

.gpus input[type='checkbox']:checked + label {
    background: #2d3e63 no-repeat;
    
}