.gpus input[type='checkbox'] {
    display: none;
}

.gpus input[type='checkbox'] + label { 
    margin: 5px 5px 5px 5px;
    padding: 3px 5px 3px 5px;
    font-size: 11pt;
    font-weight: bold;
    text-transform: uppercase;
    background: darkgrey;
    cursor: pointer;
    border-radius: 3px;
    display: inline-block;
}

.gpus input[type='checkbox']:checked + label {
    background: #2d3e63 no-repeat;
    
}